@page
@model TrafficLoadWeb.Pages.DayStatusModel

@{
    ViewData["Title"] = "DayStatus";

    System.Globalization.CultureInfo culture = System.Globalization.CultureInfo.CurrentCulture;

    var diff = (int) culture.DateTimeFormat.FirstDayOfWeek - (int) Model.Date.DayOfWeek;
    if ((int) Model.Date.DayOfWeek == 0)
        diff = -6;

    DateTime startOfWeek = Model.Date.AddDays(diff);

    List<DateTime> CurrentWeek = Enumerable
        .Range(0, 7)
        .Select(i => startOfWeek
           .AddDays(i)
        ).ToList<DateTime>();
}
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col" style="background: #eee; position: sticky; top: 0;">#</th>
            <th scope="col" style="background: #eee; position: sticky; top: 0;">Linje</th>
            <th scope="col" style="background: #eee; position: sticky; top: 0;">Tidspunkt</th>
            <th scope="col" style="background: #eee; position: sticky; top: 0;">Fra</th>
            <th scope="col" style="background: #eee; position: sticky; top: 0;">Ombord</th>
            <th scope="col" style="background: #eee; position: sticky; top: 0;">Minutt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TurModel) {
            <tr class="@Html.Raw(item.isRed ? "bg-danger": "") @Html.Raw(item.isYellow ? "bg-warning": "") @Html.Raw(item.isGreen ? "bg-success": "")">
                <td>
                    @Html.DisplayFor(modelItem => item.LineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RuteNamn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgangsTid.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ombord)
                </td>
                <td>
                    0
                </td>            
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" style="position: sticky; left: 0; bottom: 0; background: #eee;">
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a asp-page="DayStatus" asp-route-date="@startOfWeek.AddDays(-1).ToString("yyyy-MM-dd")" class="page-link" tabindex="-1">Veke @culture.Calendar.GetWeekOfYear(startOfWeek.AddDays(-1), culture.DateTimeFormat.CalendarWeekRule, culture.DateTimeFormat.FirstDayOfWeek)</a>
                        </li>
                        @foreach (var d in CurrentWeek) {
                            <li class="page-item @Html.Raw(Model.Date.Date.Equals(d.Date) ? "active": "") @Html.Raw(@d.Date > DateTime.Now.AddDays(-1).Date ? "disabled": "")">
                                <a class="page-link" asp-page="DayStatus" asp-route-date="@d.ToString("yyyy-MM-dd")">@d.ToString("d") <span class="sr-only">@d.ToString("d")</span></a>
                            </li>
                        }
                        <li class="page-item @Html.Raw(@startOfWeek.AddDays(7).Date >= DateTime.Now.Date ? "disabled": "")">
                            <a asp-page="DayStatus" asp-route-date="@startOfWeek.AddDays(7).ToString("yyyy-MM-dd")" class="page-link" tabindex="-1">Veke @culture.Calendar.GetWeekOfYear(startOfWeek.AddDays(7), culture.DateTimeFormat.CalendarWeekRule, culture.DateTimeFormat.FirstDayOfWeek)</a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>
    </tfoot>
</table>
